.profile_selection {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    width: 100%;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    background: #b9b8b8;
    border-radius: 4px;
    width: 100px;
}

.profile_selection > li {
    padding: 10px;
    width: 100%;
}

.profile {
    position: relative;
}

.profile:hover .profile_selection {
    opacity: 1;
    visibility: visible;
}